{% extends "base.html" %}
{% block title %}ЭИОП | Вход{% endblock %}
{% block content %}
    <h1>Вход</h1>
    <div class="module">
        {% if form.errors %}
            <p>Неверное имя пользователя или пароль. Повторите попытку</p>
        {% else %}
            <p>Пожалуйста, воспользуйтесь следующей формой для входа в систему:</p>
        {% endif %}
        <div class="login-form">
            <form action="{% url 'login' %}" method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}"/>
                <p><input type="submit" value="Войти"></p>
            </form>
        </div>
    </div>
{% endblock %}